# Created by https://www.gitignore.io/api/web,node,macos
# Edit at https://www.gitignore.io/?templates=web,node,macos

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

### Node ###
dist
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock

node_modules/
jspm_packages/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.cache

### VisualStudioCode ###
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
